<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
    <!-- .container is main centered wrapper -->
    <div class="container">

        {{{body}}}
        <style media="screen">
            .work {
                background-color: dodgerblue;
                padding : 1em;
                border : 1px solid black;
                border-radius: 5%;
            }
        </style>
    </div>
</body>

</html>
