<div class="row">
    <div class="six columns">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dave Gamache</td>
                    <td><button type="button" name="button">Start</button></td>
                </tr>
                <tr>
                    <td>Male</td>
                    <td><button type="button" name="button">Start</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="six columns">
        <form method="post" action="/proposal">
            <div class="row">
                <div class="six columns">
                    <label for="exampleEmailInput">Proposal name</label>
                    <input class="u-full-width" type="text" placeholder="What is the proposal" name="proposalName">
                </div>
            </div>

            <label for="exampleMessage">Description</label>
            <textarea class="u-full-width" placeholder="proposal description" name="proposalDesc"></textarea>

            <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>
</div>

<div class="row">
    <div class="two columns work">
        doing some work
    </div>
    <div class="two columns work">
        doing some work
    </div>
    <div class="two columns work">
        doing some work
    </div>
</div>
<div class="row">
    <div class="two columns work">
        doing some work
    </div>
    <div class="two columns work">
        doing some work
    </div>
    <div class="two columns work">
        doing some work
    </div>
</div>
